<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Editing Player - baseball</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h1>Editing Player</h1>
		<form th:action="@{/players/{id}/edit(id=*{id})}" th:method="post"
			th:object="${player}">
			<div class="form-group">
				<label class="control-label">名前</label>
				<input class="form-control" type="text" th:field="*{name}" />
			</div>
			<div class="form-group">
				<label class="control-label">年齢</label>
				<input class="form-control"	type="number" th:field="*{age}" />
			</div>
			<div class="form-group">
				<label class="control-label">チーム名</label>
				<input class="form-control" type="text" th:field="*{team}" />
			</div>
			<div class="form-group">
				<label class="control-label">守備位置</label>
				<input	class="form-control" type="text" th:field="*{position}" />
			</div>
			<button class="btn btn-primary" type="submit">更新</button>
		</form>
		<div class="float-right">
			<a class="btn btn-link" href="/players">一覧画面へ</a>
		</div>
	</div>
</body>
</html>